.fs-0-7 {
  font-size: 0.7rem
}

.fs-0-8 {
  font-size: 0.8rem
}

.fs-0-9 {
  font-size: 0.9rem
}

.fs-1-1 {
  font-size: 1.1rem
}

.fs-1-2 {
  font-size: 1.2rem
}

.fs-1-3 {
  font-size: 1.3rem
}

.fs-1-4 {
  font-size: 1.4rem
}

.fs-1-5 {
  font-size: 1.5rem
}

.fs-1-6 {
  font-size: 1.6rem
}

.fs-1-7 {
  font-size: 1.7rem
}

.fs-1-8 {
  font-size: 1.8rem
}

.fs-1-9 {
  font-size: 1.9rem
}

.fs-2 {
  font-size: 2rem
}

.fc-light {
  color: $steel;
}

.bold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}
