$footer-height: 130px;

$charcoal-grey: #424650;
$bluey-grey: #afbcc6;
$dark-sky-blue: #4a8ee0;
$slate-grey: #636f79;
$green-80: #5cbb94;
$black: #000000;
$ice-blue: #eef2f4;
$pale-grey-two: #f9fbfc;
$white: #ffffff;
$pearl: #e1e7ea;
$marine: #022e4f;
$ashen: #c3cdd5;
$twilight-blue: #0d4063;
$silver: #cfd8dc;
$dark-grey: #262931;
$very-dark-blue: #00032b;
$very-dark-blue-two: #000314;
$very-pale-blue: #E5EDFF;
$grey: #94a3b0;
$dusk-blue: #1f517f;
$denim-dark: #275c92;
$denim-light: #3276c1;
$blue: #3983d5;
$cherry: #c60c30;
$cherry-90: #cb2444;
$cherry-80: #d13d59;
$cherry-70: #d7546e;
$cherry-60: #dd6d83;
$denim: #2868a9;
$cherry-50: #e28597;
$cherry-40: #e89eac;
$cherry-30: #edb6c0;
$cherry-10: #f9e6ea;
$cherry-20: #f4ced6;
$space: #033882;
$ultramarine-dark: #023da6;
$ultramarine: #0147c2;
$ultramarine-light: #1057d3;
$dark-sky-blue-two: #3572dd;
$sky-blue-90: #5a99e3;
$sky-blue-80: #6ca5e6;
$sky-blue-70: #7eafe9;
$sky-blue-60: #90bbec;
$sky-blue-50: #a2c6ef;
$sky-blue-40: #b5d2f3;
$sky-blue-30: #c6ddf5;
$sky-blue-20: #d9e8f9;
$sky-blue-10: #edf4fc;
$warm-pink: #ff4081;
$pink-90: #ff538d;
$pink-80: #ff669a;
$pink-70: #ff79a6;
$pink-60: #ff8cb3;
$pink-50: #ff9fc0;
$pink-40: #ffb3cd;
$pink-30: #ffc5d9;
$pink-20: #ffd9e6;
$pink-10: #ffebf2;
$tangerine: #f78d07;
$butterscotch: #ffab40;
$orange-90: #ffb353;
$orange-80: #ffbc66;
$orange-70: #ffc479;
$orange-60: #ffcd8c;
$orange-50: #ffd59f;
$orange-40: #ffddb3;
$orange-30: #ffe5c5;
$orange-20: #ffeed9;
$orange-10: #fff6eb;
$teal-green: #298e60;
$seaweed-green: #33aa79;
$green-90: #47b286;
$green-70: #70c3a1;
$green-60: #85ccaf;
$green-50: #99d4bc;
$green-40: #adddc9;
$green-30: #c1e5d6;
$green-20: #d6eee4;
$green-10: #eaf6f1;
$gold: #f9ca04;
$light-gold: #ffdc48;
$gold-90: #ffdf5a;
$gold-80: #ffe36d;
$gold-70: #ffe67e;
$gold-60: #ffea91;
$gold-50: #ffeda3;
$gold-40: #fff1b6;
$gold-30: #fff4c8;
$gold-20: #fff8da;
$gold-10: #fffbec;
$steel: #768693;

$primary-color: $very-pale-blue;
$second-color: $very-dark-blue;
