// forces the navigation items to be displayed at all viewport sizes
@import 'variables';
@import 'mixins';

.bx--header__nav {
	display: block;
}

.bx--link.bx--link--active {
  color: #161616;
  text-decoration: underline;
}

.bx--link ~ .bx--link {
  margin-left: 1rem;
}

ibm-label ~ ibm-label {
  margin-top: 1.2rem;
}

.form-buttons {
  margin-top: 8px;
}

.bx--content--main {
  padding-top: 5rem;
  height: calc(100vh - 0rem - #{$footer-height});
}

.bx--content-switcher--filter {
  .bx--content-switcher {
    height: 1.9rem;
    justify-content: flex-start;
  }

  button {
    width: fit-content;
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem;
  }
}

.bx--fieldset--internal {
  margin-bottom: 1rem;
}
