@import 'variables';
@import 'mixins';
@import 'margin-padding';
@import 'typography';

body, html {
  height: 100%;
  width: 100%;
}

.card-link-container {
  text-decoration: none;
  color: unset;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid $ice-blue;
  &:hover {
    background-color: $very-pale-blue;
  }
}

.card-container {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
}

.card-container--m {
  width: 450px;
}

.promo-block {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}

.bg_gold-90 {
  background-color: $gold-90;
}

.bg_gold-10 {
  background-color: $gold-10;
}

.bg_gold-30 {
  background-color: $gold-30;
}

.bg_steel {
  background-color: $steel;
}
