@import 'variables';
@import 'mixins';
@import 'margin-padding';
@import 'typography';

body, html {
  height: 100%;
  width: 100%;
}

.card-link-container {
  text-decoration: none;
  color: unset;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid $ice-blue;
  &:hover {
    background-color: $very-pale-blue;
  }
}

.card-container {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
}

.card-container--m {
  width: 450px;
}

.promo-block {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}

.mini-block {
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  padding: 0.5rem;
  font-size: 0.6rem;
}

.bg_gold-90 {
  background-color: $gold-90;
}

.bg_gold-10 {
  background-color: $gold-10;
}

.bg_gold-30 {
  background-color: $gold-30;
}

.bg_steel {
  background-color: $steel;
}

.bg_green-50 {
  background-color: $green-50;
}

.bg_sky-blue-70 {
  background-color: $sky-blue-70
}

.bg_cherry {
  background-color: $cherry
}

.text_white {
  color: #fff;
}
