@import '../../styles/variables';
@import '../../styles/mixins';

.footer-cls {
  height: $footer-height;
  background-color: $primary-color;
  padding-left: 50px;
  padding-top: 15px;
}

.footer-copyright {
  font-size: 10px;
  color: #757575;
  width: 500px;
}

.logo-symbol-footer-wrapper {
  font-weight: 900;
}
