<ibm-header
  [brand]="tr.brand"
  *ngIf="{isAuth: baseComponentService.userService.isAuth()} as state">
  <ibm-header-navigation>
    <a [routerLink]="[paths.login.getAbsoluteUrl()]"
       routerLinkActive="bx--header__menu-item--active"
       *ngIf="!state.isAuth">
      <ibm-header-item>{{tr.common.login}}</ibm-header-item>
    </a>
    <a [routerLink]="[paths.cabinetRealtyList.getAbsoluteUrl()]"
       routerLinkActive="bx--header__menu-item--active"
       *ngIf="state.isAuth">
      <ibm-header-item>{{tr.cabinet.myRealty}}</ibm-header-item>
    </a>
    <a [routerLink]="[paths.search.getAbsoluteUrl()]"
       routerLinkActive="bx--header__menu-item--active"
    >
      <ibm-header-item>{{tr.common.search}}</ibm-header-item>
    </a>
  </ibm-header-navigation>
  <ibm-header-global *ngIf="state.isAuth">
    <ibm-header-action title="action" (click)="baseComponentService.update.next()">
      <svg ibmIconRenew20></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIconNotification20></svg>
    </ibm-header-action>
    <ibm-header-action title="action" [routerLink]="[paths.profile.getAbsoluteUrl()]">
      <svg ibmIconUserAvatar20></svg>
    </ibm-header-action>
    <ibm-header-action title="action"
                       (click)="baseComponentService.userService.logout()">
      <svg ibmIconLogout20></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>

<main class="bx--content bx--content--main">
  <router-outlet></router-outlet>
  <ng-content select="[main]"></ng-content>
</main>

<footer class="fx fx-jc-between footer-cls">
  <div class="logo-symbol-footer-wrapper">
    IH
  </div>

  <div class="footer-copyright">
    <div>© 2020 {{tr.brand}}. Все права защищены</div>
    <div>“{{tr.brand}}” являются зарегистрированным торговыми знаками {{tr.brand}}.</div>

    <div>Весь текст, графика, аудио файлы, код, скачиваемые материалы и другие работы на этом сайте защищены авторским
      правом компании {{tr.brand}}. Все права защищены.</div>
    <div>Любое несанкционированное перераспределение или воспроизведение любого материала, защищенного авторским правом
      на этом сайте строго запрещено.</div>
    <div>Другие названия продуктов и компаний являются товарными знаками
      их соответствующих владельцев.</div>
    <div>Этот веб-сайт содержит имитированные изображения; фактический внешний вид может отличаться.</div>
  </div>
</footer>
