@import '../../styles/variables';
@import '../../styles/mixins';

footer {
  height: $footer-height;
  background-color: $primary-color;
  z-index: 11;
  position: relative;
  padding-left: 50px;
  padding-top: 15px;
}

.footer-copyright {
  font-size: 10px;
  color: #757575;
  width: 500px;
}
