<ibm-header name="[Platform]">
</ibm-header>

<main class="bx--content">
  <router-outlet></router-outlet>
  <ng-content select="[main]"></ng-content>
</main>

<footer class="bx--content fx fx-jc-between">
  <div class="logo-symbol-footer-wrapper">
    <img src="/assets/img/logo-symbol.svg">
  </div>

  <div class="footer-copyright">
    <div>© 2020 Bazarun Trade. Все права защищены</div>
    <div>“Bazarun” являются зарегистрированным торговыми знаками Bazarun Trade.</div>

    <div>Весь текст, графика, аудио файлы, код, скачиваемые материалы и другие работы на этом сайте защищены авторским
      правом компании Bazarun Trade. Все права защищены.</div>
    <div>Любое несанкционированное перераспределение или воспроизведение любого материала, защищенного авторским правом
      на этом сайте строго запрещено.</div>
    <div>Другие названия продуктов и компаний являются товарными знаками
      их соответствующих владельцев.</div>
    <div>Этот веб-сайт содержит имитированные изображения; фактический внешний вид может отличаться.</div>
  </div>
</footer>
