<ibm-header name="[Platform]" *ngIf="baseComponentService.userService.isAuth()">
  <ibm-header-navigation>
    <a [routerLink]="paths.account.getAbsoluteUrl()">
      <ibm-header-item>{{tr.common.profile}}</ibm-header-item>
    </a>
  </ibm-header-navigation>
  <ibm-header-global>
    <ibm-header-action title="action">
      <svg ibmIconNotification20></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIconUserAvatar20></svg>
    </ibm-header-action>
    <ibm-header-action title="action"
                       (click)="baseComponentService.userService.logout()">
      <svg ibmIconLogout20></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>

<main class="bx--content">
  <router-outlet></router-outlet>
  <ng-content select="[main]"></ng-content>
</main>

<footer class="bx--content fx fx-jc-between">
  <div class="logo-symbol-footer-wrapper">
    <img src="/assets/img/logo-symbol.svg">
  </div>

  <div class="footer-copyright">
    <div>© 2020 App. Все права защищены</div>
    <div>“App” являются зарегистрированным торговыми знаками App.</div>

    <div>Весь текст, графика, аудио файлы, код, скачиваемые материалы и другие работы на этом сайте защищены авторским
      правом компании App. Все права защищены.</div>
    <div>Любое несанкционированное перераспределение или воспроизведение любого материала, защищенного авторским правом
      на этом сайте строго запрещено.</div>
    <div>Другие названия продуктов и компаний являются товарными знаками
      их соответствующих владельцев.</div>
    <div>Этот веб-сайт содержит имитированные изображения; фактический внешний вид может отличаться.</div>
  </div>
</footer>
