<div class="card-container">
  <div class="fx fx-jc-between fx-wrap mb1">
    <div style="    width: 100%;
    border-radius: 2px;
    max-height: 180px;
    overflow: hidden;" class="fx-fixed mb1">
      <img [attr.src]="realty.photoUrl" style="width: 100%;">
    </div>
    <div class="realty-card-address fs-1-1">{{realty.address}}</div>
    <div *ngIf="realty.officeCategory" class="realty-card-office-category">{{realty.officeCategory}}</div>
  </div>

  <div class="fx fx-jc-between fx-al-items-center mb-0-5" *ngIf="realty.userSpace">
    <div class="fs-1-3 light">Доля:</div>
    <div class="fs-1-4">
      {{realty.userSpace}} кв.м, <span class="promo-block bg_gold-30">{{realty.percentage}} %</span>
    </div>
  </div>

  <div class="fx fx-jc-between fx-al-items-center mb2" *ngIf="realty.price">
    <div class="fs-1-3 light">Стоимость:</div>
    <div class="fs-1-4 bold promo-block bg_gold-90">{{realty.price | currency:'₽':true:'1.0-0'}}</div>
  </div>

  <div class="fx fx-jc-between fx-al-items-center mb-0-5">
    <div class="fs-0-9 fc-light">Общая стоимость:</div>
    <div class="fs-1">{{realty.fullPrice | currency:'₽':true:'1.0-0'}} ₽</div>
  </div>

  <div class="fx fx-jc-between fx-al-items-center mb-0-5">
    <div class="fs-0-9 fc-light">Общая площадь (кв.м):</div>
    <div class="fs-1">{{realty.space}}</div>
  </div>

  <div class="fx fx-jc-between realty-card-property mb1">
    <div class="fs-0-9 fc-light">Комм. услуги (мес.):</div>
    <div class="fs-1">{{realty.utilityBillCost | currency:'₽':true:'1.0-0'}}</div>
  </div>

  <div class="realty-card-phone fs-1-3 bold" *ngIf="realty.phone">
    {{realty.phone | phone:'RU'}}
  </div>
</div>
