<div class="card-container">
  <div class="fx fx-jc-between">
    <div class="realty-card-address">{{realty.address}}</div>
    <div *ngIf="realty.officeCategory" class="realty-card-office-category">{{realty.officeCategory}}</div>
  </div>
  <div class="realty-card-phone">{{realty.phone}}</div>

  <div class="fx fx-jc-between realty-card-property realty-card-property-user">
    <div class="realty-card-property-name realty-card-property-name-user">Доля (кв.м):</div>
    <div class="realty-card-property-value realty-card-property-value-user">{{realty.userSpace}}</div>
  </div>

  <div class="fx fx-jc-between realty-card-property realty-card-property-user">
    <div class="realty-card-property-name realty-card-property-name-user">Стоимость:</div>
    <div class="realty-card-property-value realty-card-property-value-user">{{realty.price}} ₽</div>
  </div>

  <div class="fx fx-dir-col realty-card-property realty-card-property-free-space">
    <div class="realty-card-property-free-space-extra">
      <button *ngIf="realty.space > 0"
              class="realty-card-property-free-space-button bx--btn--secondary-gold"
              [ibmButton]="'secondary'"
              [size]="'sm'">Инвестировать</button>
    </div>
  </div>

  <div class="fx fx-jc-between realty-card-property">
    <div class="realty-card-property-name">Общая стоимость:</div>
    <div class="realty-card-property-value">{{realty.fullPrice}} ₽</div>
  </div>

  <div class="fx fx-jc-between realty-card-property">
    <div class="realty-card-property-name">Общая площадь (кв.м):</div>
    <div class="realty-card-property-value">{{realty.space}}</div>
  </div>

  <div class="fx fx-jc-between realty-card-property">
    <div class="realty-card-property-name">Комм. услуги (мес.):</div>
    <div class="realty-card-property-value">{{realty.utilityBillCost}}</div>
  </div>
</div>
