@import '../../styles/variables';
@import '../../styles/mixins';

realty-card {
}

.realty-card-address {
  color: #0043f2;
  height: 35px;
}

.realty-card-office-category {
  color: #0043f2;
  font-weight: 800;
  border: 1px solid;
  border-radius: 3px;
  padding: 3px;
  height: 23px;
}

.realty-card-phone {
  text-align: right;
}
