<ng-template #officeCategory>
  <fieldset class="bx--fieldset">
    <legend class="bx--label">{{tr.realty.categoryTitle}}</legend>

    <ibm-content-switcher (selected)="selected($event)"
                          class="bx--content-switcher--fit-content">
      <button ibmContentOption
              (click)="radio.checked = !radio.checked"
              *ngFor="let radio of radios">
        {{tr.realty.officeCategory[radio.category]}}
      </button>
    </ibm-content-switcher>
  </fieldset>
</ng-template>

<div ibmRow>
  <div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}" class="multi-selection">
    <fieldset class="bx--fieldset">
      <div ibmRow>
        <div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}">
          <legend class="bx--label">{{tr.realty.purposeTitle}}</legend>
        </div>
        <div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}">
          <ibm-tag-filter
            *ngIf="checkBoxFilters.size > 0"
            (close)="resetCheckboxList()">
            {{checkBoxFilters.size}}
          </ibm-tag-filter>
        </div>
      </div>
      <ng-container *ngFor="let listItem of checkboxList">
        <ibm-checkbox
          [hideLabel]="hideLabel"
          [checked]="listItem.checked"
          [value]="listItem.value"
          (change)="onCheckboxChange($event, listItem)">
          {{ tr.realty.purpose[listItem.value] }}
        </ibm-checkbox>

        <ibm-notification
          *ngIf="listItem.value === RealtyPurpose.office && showOfficeCategory"
          (close)="officeCategorySelectClose()"
          [notificationObj]="{
            lowContrast: true,
            template: officeCategory,
            showClose: true
				  }">
        </ibm-notification>
      </ng-container>
    </fieldset>

    <button ibmButton
            size="field"
            (click)="resetFilters()">{{tr.search.resetFilters}}</button>
  </div>
  <div ibmCol [columnNumbers]="{'lg': 10, 'md': 10, 'sm': 3}" class="data-table">
    <ibm-table-container>
      <ibm-table
        class="data-table"
        [model]="model"
        size="lg"
        [showSelectionColumn]="false">
        <ng-content></ng-content>
      </ibm-table>
    </ibm-table-container>
  </div>
</div>
