<div ibmRow>
  <div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}">
    <fieldset class="bx--fieldset">
      <div ibmRow>
        <div ibmCol [columnNumbers]="{'lg': 2, 'md': 2, 'sm': 1}">
          <legend class="bx--label">{{tr.realty.purposeTitle}}</legend>

          <ng-container *ngFor="let listItem of checkboxList">
            <ibm-checkbox
              [checked]="listItem.checked"
              [value]="listItem.value"
              (change)="onCheckboxChange($event, listItem)">
              {{ tr.realty.purpose[listItem.value] }}
            </ibm-checkbox>

            <ng-container *ngIf="listItem.value === RealtyPurpose.office && listItem.checked">
              <fieldset class="bx--fieldset bx--fieldset--internal">
                <legend class="bx--label">{{tr.realty.categoryTitle}}</legend>

                <ibm-content-switcher (selected)="selected($event)"
                                      [ariaLabel]="'office-category'"
                                      class="bx--content-switcher--filter">
                  <button ibmContentOption
                          (click)="radio.checked = !radio.checked"
                          *ngFor="let radio of radios">
                    {{tr.realty.officeCategory[radio.category]}}
                  </button>
                </ibm-content-switcher>
              </fieldset>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </fieldset>

    <button ibmButton
            size="field"
            (click)="resetFilters()">{{tr.search.resetFilters}}</button>
  </div>
  <div ibmCol [columnNumbers]="{'lg': 10, 'md': 10, 'sm': 3}">
    <div></div>
  </div>
</div>
