<ibm-header name="[Platform]">
  <ibm-header-navigation>
    <a [routerLink]="paths.account.getAbsoluteUrl()">
      <ibm-header-item>Профиль</ibm-header-item>
    </a>
    <!--        <ibm-header-menu title="Manage">-->
    <!--          <ibm-header-item routerLink="link1">Link 1</ibm-header-item>-->
    <!--          <ibm-header-item>Link 2</ibm-header-item>-->
    <!--          <ibm-header-item>Link 3</ibm-header-item>-->
    <!--        </ibm-header-menu>-->
  </ibm-header-navigation>
  <ibm-header-global>
    <ibm-header-action title="action">
      <svg ibmIconNotification20></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIconUserAvatar20></svg>
    </ibm-header-action>
    <ibm-header-action title="action" (click)="logout()">
      <svg ibmIconAppSwitcher20></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>

<main>
  <router-outlet></router-outlet>
</main>

<footer></footer>
