@import '../../styles/variables';
@import '../../styles/mixins';

cabinet {
  nav {
    height: $nav-height-cabinet;
    background-color: #fff;
    border: 1px solid $pale-grey-two;
  }

  main {
    height: calc(100% - #{$cabinet-minus-height});
    width: 100%;
    z-index: 10;
    position: relative;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }

  footer {
    height: $footer-height-cabinet;
    background-color: $pale-grey-two;
    z-index: 11;
    position: relative;
    padding-left: 50px;
    padding-top: 15px;
  }
}

.cabinet-root-url {
  height: 80%;
  margin-left: 8px;
  margin-right: 20px;
}

.cabinet-root-url-img {
  height: 100%;
}

.cabinet-nav-left, .cabinet-nav-right {
  height: 100%;
}

.mat-button.cabinet-nav-url {
  margin-right: 15px;
}

