<form [formGroup]="form" class="auth-two-side-form" (ngSubmit)="onSubmit()">
  <ibm-label>
    {{tr.common.phone}}
    <input type="text"
           #phone
           class="bx--text-input bx--text__input"
           formControlName="phone">
  </ibm-label>

  <span class="bz-error-text" *ngIf="error">
    {{error}}
  </span>

  <div class="fx fx-jc-end form-buttons">
    <button ibmButton
            [disabled]="!formIsValid() || submitting"
            type="submit"
            class="bz-button bz-button-primary">
      {{tr.common.send}}
    </button>
  </div>
</form>
